# Apache Airflow
apache-airflow==2.10.0
apache-airflow-providers-amazon==8.15.0

# AWS SDK
boto3>=1.35.0
botocore>=1.35.0

# Data Processing
pandas>=2.2.0
numpy>=1.26.0

# Database
# Nota: Airflow 2.10.0 requer SQLAlchemy < 2.0
psycopg2-binary>=2.9.9
sqlalchemy>=1.4.36,<2.0

# Testing
pytest>=7.4.2
pytest-cov>=4.1.0
pytest-mock>=3.11.1

# Utilities
python-dotenv>=1.0.0
pyyaml>=6.0.1
